{% extends "shop/base.html" %}

{% block title %}
     Авторизация пользователя
{% endblock %}

{% block name %}
    Авторизация
{% endblock %}

{% block content %}
    <div style="display: block; margin-top: 0px; margin-bottom: 80px;margin-left: 350px;width: 31%">
        <h1 style="text-align: center; margin-bottom: 30px">Введите имя пользователя и пароль.</h1>
        {% if form.errors %}
            <p>
                Ваше имя пользователя и пароль не совпадают. Пожалуйста, попробуйте еще раз.
            </p>
        {% else %}
    {#        <p>Пожалуйста, используйте следующую форму для входа в систему:</p>#}
        {% endif %}
    {#    <div class="login-form">#}
            <form action="{% url 'login' %}" method="post" class="login">
                {% csrf_token %}
                {{ form.as_p }}

                <input type="hidden" name="next" value="{{ next }}" />
    {#            <p><input type="submit" value="Log-in"></p>#}
                <button class="btn-block btn-sm" type="submit" style="margin-top: 10px;">Войти</button>
            </form>
    </div>
{% endblock %}