{% extends "shop/base.html" %}

{% block title %}Изменение пароля{% endblock %}

{% block content %}
    <div style="display: block; margin-top: 0px; margin-bottom: 80px;margin-left: 350px;width: 31%">
      <h1 style="text-align: center; margin-bottom: 30px">Изменение пароля</h1>
      <p>Используйте форму для изменения пароля.</p>
      <form action="." method="post">
        {{ form.as_p }}
        <p><input type="submit" value="Изменить пароль"></p>
        {% csrf_token %}
      </form>
    </div>
{% endblock %}