{#{% extends 'base.html' %}#}
{##}
{#{% block title %}#}
{#    Авторизация пользователя#}
{#{% endblock %}#}
{##}
{#{% block content %}#}
{#    <p>Введите имя пользователя и пароль.</p>#}
{##}
{#    <form action="" method="post" class="login">#}
{#       {% csrf_token %}#}
{#        <input name="username" type="text" placeholder="Имя пользователя">#}
{#        <input name="password" type="password" placeholder="Пароль">#}
{#        {{ form.as_p }}#}
{#        <button class="btn-block btn-sm" type="submit" style="margin-top: 10px;">Войти</button>#}
{#    </form>#}
{#{% endblock %}#}